#anchor1{
    position: absolute;
    top: 0;
}
#anchor2{
    position: absolute;
    top: 100vh
}

#anchor3{
    position: absolute;
    top: 200vh;
}

#anchor4{
    position: absolute;
    top: 540vh;
}