

html{
    font-family: 'DengXian', serif;
}

body{
    background-image: url("/image/background.png");
    background-color: #dddddd;
}

a:link {color:#ffffff;text-decoration:none;}      /* 未访问链接*/
a:visited {color:#ffffff;text-decoration:none;}  /* 已访问链接 */
a:hover {color:#ffffff;text-decoration:none;}  /* 鼠标移动到链接上 */
a:active {color:#ffffff;text-decoration:none;}  /* 鼠标点击时 */

button{
    transition: all 0.3s;
    padding:1vh;
    margin:2vh;
}

p{
    font-size: 1vw;
    line-height:2vw;
}

h1{
    font-size:3vw;
    text-align:center;
    color:#333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
h2{
    font-size:2vw;
    text-align:center;
    color:#333333;
}
h3{
    font-size:1.3vw;
    text-align:center;
    color:#333333;

}
h4{
    font-size:1.1vw;
    text-align:center;
    color:#333333;

}

iframe{
    position:absolute;
    left: 0;
    top: 6vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 94vh;
}

/*页脚*/
footer {
    width: 100%;
    height: auto;
    background-color: #333333;
    background-size: 100% 100%;
    text-align: center;
    padding: 30px 0 0 0;
    margin: 0;
    position: absolute;

}
footer p{
    color: #ffffff;
}


