/*导航栏*/
.Navigate-Bar{
    /* 设置宽度高度背景颜色 */
    height:6vh; /*高度改为自动高度*/
    width:100%;
    background:#333333;
    position: fixed; /*固定在顶部*/
    top: 0;/*离顶部的距离为0*/
    left: 0;
    z-index: 1145141919810;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.Navigate-Bar ul li:hover ul{
    /* 鼠标选中二级菜单内容时 */
    display: block;
}
/*第一级*/
.Navigate-Bar ul{
    /* 清除ul标签的默认样式 */
    width: auto;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
}
.Navigate-Bar ul li {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:10px;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
}
.Navigate-Bar ul li:hover {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:10px;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    background: #777777;
}
.Navigate-Bar ul li a{
    /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:#ffffff;
    text-align: center;
    padding: 2vh;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
    font-size: 2vh;
}
.Navigate-Bar ul li a:hover{
    /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:#cccccc;
    text-align: center;
    padding: 2vh;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
    font-size: 2vh;
    transform: scale(1.1);
}
.Navigate-Bar ul li img{
    display: block;
    height: 4vh;
    margin-top: 1vh;
}
.Navigate-Bar ul li img:hover{
    display: block;
    height: 4vh;
    margin-top: 1vh;
    transform: scale(1.1);
}
/*第二级*/
.Navigate-Bar ul li ul{
    background:#333333;
    position: relative;
    display: none;
    width: 10vw;
    padding: 0;
}
.Navigate-Bar ul li ul li{
    height: auto;
    display: block;
    text-align: center;
    width: 10vw;
}
.Navigate-Bar ul li ul li:hover {
    display: block;
    position: relative;
    background: #777777;
    text-align: center;
}
.Navigate-Bar ul li ul li a{
    /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:#ffffff;
    text-align: center;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
    font-size: 2vh;
    line-height: 3vh;
}
.Navigate-Bar ul li ul li a:hover{
    /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:#cccccc;
    text-align: center;
    text-decoration: none; /* 去除下划线 */
    font-size: 2vh;
    line-height: 3vh;
    transform: scale(1.1);

}

/*图标+文字，一组四个，水平布局*/
.list-icon_and_text {
    width: 72vw;
    height: auto;
    margin: 0 auto;
    padding-top: 3vw;
    text-align: center;
}
.list-icon_and_text ul {
    display: inline-block;
    text-align: center;
    padding: 0;
}
.list-icon_and_text ul li {
    display: block;
    float: left;
    width: 16vw;
    height: 22vw;
    margin: 10px;
    padding-top: 4vw;
    transition: all 0.3s;
}
.list-icon_and_text ul li img {
    width: 6vw;
    transition: all 0.3s;
}
.list-icon_and_text ul li p {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    font-size: 1vw;
}
.list-icon_and_text ul li:hover img {
    transform: scale(1.1);
}

/*图片+文本，不限数量，垂直   注意：父div需要拥有“height：auto”*/
.list-image_and_text {
    width: 60vw;
    height: auto;
    margin: 0 auto;
    padding-top: 1vw;
    text-align: center;
}
.list-image_and_text ul {
    display: inline-block;
    text-align: center;
    padding: 0;
}
.list-image_and_text ul li {
    display: block;
    width: 50vw;
    height: 15vw;
    padding:1vw;
    transition: all 0.3s;
    margin: 5vh;
}
.list-image_and_text ul li img {
    float:left;
    width: 22vw;
    transition: all 0.3s;
    margin: 1vw;
    height:13vw;
    border-radius: 5px;
}
.list-image_and_text ul li h3 {
    text-align: left;
}
.list-image_and_text ul li p {
    text-align: left;
    alignment: left;
    margin: 1vw;
    font-size: 1vw;
}
.list-image_and_text ul li:hover img{
    transform: scale(1.03);
}

/*画廊*/
.pictures{
    width: 64vw;
    height: fit-content;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}
.pictures ul {
    text-align: center;
    padding-left: 2vw;
}
.pictures ul li {
    display: block;
    float: left;
    margin: 1vw;
    padding: 1vw;
    transition: all 0.3s;
    width: 16vw;
    height: 9vw;
}
.pictures ul li img{
    transition: all 0.3s;
    width: 16vw;
    height: 9vw;
}
.pictures ul li p h3{
    text-align: left;
}
.pictures ul li p{
    text-align: left;
}

/*"回到顶部"按钮*/
.back-to {
    bottom: 5vh;
    position: fixed;
    right: 5vh;
}
.back-top {
    opacity: .7;
    transition: all 0.3s;
    display: block;
    float: right;
    height: 5vw;
    text-indent: -9999em;
    width: 5vw;
    background-color: #333333;
}
.back-top img{
    transition: all 0.3s;
    display: block;
    float: right;
    outline: 0 none;
    text-indent: -9999em;
    width: 3vw;
    height: 3vw;
    margin: 1vw;
}
.back-to .back-top:hover {
    background-position: -50px 0
}